.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: stretch;
}
.sidebar {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 3rem);
    max-height: calc(100vh - 3rem);
    width: 20%;
    background-color: white;
    padding: 20px;
}
.main {
    display: flex;
    position:relative;
    flex-direction: column;
    width: stretch;
    background-color: white;
    padding: 20px;
}
.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 82%;
    height: 40px;
    margin: 3px 0;
    background-color: #f0f0f0;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}
.findByLinkContainer {
    display: flex;
    flex-direction: row;
    align-items: top;
    width: fit-content;
    height: 80px;
    margin: 0;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}
.findByLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 82%;
    height: stretch;
    margin: 0 1px;
    padding: 0 7px;
    background-color: #f0f0f0;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.2s ease-in-out;

}
.icon {
    display: flex;
    margin: 8px;
    flex-direction: row;
    align-items: center;
    font-size: 32px;
    color: goldenrod;
    background-color: white;
    height: 32px;
    justify-content: center;
    border-radius: 25px;
    padding: 4px;
}
.link:hover {
    background-color: #e0e0e0;
    color: black;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.link:hover > .icon {
    background-color: rgb(85, 85, 85);
}
.activeLink {
    background-color: rgb(154, 153, 153);
    color: white;
}
.activeLink > .icon {
    background-color: #f0f0f0;
}
.sidebarBody{
    margin: 0;
    padding: 0;
    position: fixed;
    width: inherit;
}
.linkCategoryTitle {
    font-size: 18px;
}
.additionalButtonsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    width: 82%;
    margin: 1px 0;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    overflow-y: scroll;

}
.genreButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    padding: 5px;
    height: fit-content;
    margin: 1px 2px;
    background-color: #f0f0f0;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}
.dropdownContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.2s ease-in-out;

}
.yearDropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    padding: 5px;
    height: fit-content;
    margin: 1px auto;
    background-color: #f0f0f0;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.2s ease-in-out;

}
.ratingButtons {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
    width: 35px;
    padding: 1px 3px;
    height: fit-content;
    margin: 1px 1px;
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    font-family: monospace-uniform;
}