.container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
    .card {
        width: 50%;
        height: inherit;
        overflow: hidden;
        color: black;
        border-radius: 0.5rem;
    }
    
    /* Used if only one card is displayed */
    .singleCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;
        padding: 10px;
        overflow: hidden;
        color: black;
        border-radius: 0.5rem;
    }
        .loginError {
            display: flex;
            justify-content: center;
            color: red;
            margin: 0;
            padding: 0;
            width: inherit;
        }

    .cardBody {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: stretch;
        overflow: hidden;
        background-color: #e0e0e0;
        padding: 0 5px;
        margin: 10px;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    }
        .title {
            font-size: 2rem;
            font-weight: bold;
            margin: 0;
            padding: 0;
        }
        .input {
            width: 100%;
            height: 2rem;
            margin: 5px 0;
            padding: 0 5px;
            border-radius: 0.5rem;
            border: none;
            outline: none;
        }        
        .loginButtons {
            display: flex;
            flex-direction: row;
                justify-content: space-around;
                width: 100%;
                padding: 0 0 10px 0;
            }
            .button {
                color: cyan;
                text-decoration: none;
                background-color: black;
                margin: 0;
                padding: 10px 10px;
                border-radius: 0.5rem;
                border: none;
                transition: all 0.3s ease-in-out;
            }
            .button:hover {
                color: goldenrod;
                transition: all 0.3s ease-in-out;
            }

@media (max-width: 375px) {
    .container {
        flex-direction: column;
    }
    .card {
        width: 100%;
        height: 50%;
    }
}

@media (max-Width: 1050px) {
    .loginButtons {
        flex-direction: column;
        width: stretch;
        justify-content: center;
        align-items: center;
        
    }
    .button {
        width: 75%;
        margin: 2px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}