/* MovieDetailsModal.module.css */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it appears above other content */
}

.modalContent {
    background-color: white;
    width: 90vw;
    height: 90vh;
    padding: 0;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.closeButton {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 99;
}
.closeIcon {
    color: #333;
}
.movieDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}
.imageContainer {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.details {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;
}
.title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.summary {
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
}

