.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
    width: stretch;
    height: stretch;
}

.box {
    display: flex;
    flex-direction: row;
    width: 175px;
    position: relative;
    transition: width 0.3s ease-in-out;
    border-radius: 25px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
}

.expandedBox {
    display: flex;
    flex-direction: row;
    width: 370px;
    transition: width 0.3s ease-in-out;
    border-radius: 25px;
    background-color: rgb(192, 189, 189);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
}
.expandedBox:hover {
    cursor: pointer;
}
.imageContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 0;
    flex-direction: column;
    width: 175px;
    max-height: 262.5px;
    border-radius: 25px;
    transition: background-color 0.3s ease-in-out;
}
    .image {
        grid-area: 1 /1 /6 /6;
        width: 175px;
        border-radius: 25px;
        transition: filter 0.3s ease-in-out;
    }
    .detailsLink {
        grid-area: 1 /1 /2 /2;
        background-color: rgb(41, 40, 40);
        transition: background-color 0.3s ease-in-out;
        
        left: inherit;
        width: inherit;
        padding: 10px 0;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        cursor: pointer;
        z-index: 1;
        visibility: hidden; /* Initially hidden */
    }

.expandedBox .detailsLink {
    visibility: visible;
    border-top-left-radius: 25px;
}

.box:hover .image {
    filter: brightness(0.7);
    cursor: pointer;
}


.details {
    position: relative;
    display: flex;
    width: 50%;
    height: 262.5px;
    flex-direction: column;
    box-sizing: border-box;
    
}
.infoOverlay {
    left: 0;
    width: 100%;
    background-color: rgba(162, 162, 162, 0.5);
    padding: 5px;
    text-align: center;
}
.titleContainer {
    display: flex;
    flex-direction: row;
    min-height: 7%;
    max-height: 15%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 5px 0 0 0;
}
.title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.summaryContainer {
    font-size: 12px;
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0 7px;
    margin-bottom: 18px;
    background-color: rgb(192, 189, 189);
}
.summaryContainer::-webkit-scrollbar {
    width: 7px;
}
.summaryContainer::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 25px;
}
.infoContainer {
    position: absolute;
    bottom: 5px;  
    width: 100%;
    max-height: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stat {
    font-size: 10px;
    margin: auto;
}
.body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding:  10px;
}

.modalBackdrop {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}