.container {
    background-color: white;
    width: 300px;
    height: stretch;
    margin: 5px 1rem 5px 0;
    padding: 0 0 0 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}
    .icon {
        font-size: 1.5rem;
        margin: auto 0;
    }
    .input {
        border: none;
        color: black;
        height: 2.5rem;
        width: stretch;
        background: transparent;
        font-size: 20px;
    } 
    .input:focus{
        outline: none;  
    }