.search-input {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
/* .input {
    background-color: white;

/* .input {
    background-color: white;
    border: none;
    font-size: 1.25rem;
    width: 100%;
    height: 100%; /* Ensure the input takes up the full height */
    /* margin-left: 5px;
    outline: none;
} */ 


/* .input:focus{
    outline: none;

} */