.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: stretch;
    margin: 0;
}
    .icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: cyan;
        height: 100%;
        width: 75px;
        font-size: .8rem;
        font-weight: bold;
    }
    .icon:hover {
        color: goldenrod;
        cursor: pointer;
    }