.container {
    display: flex;
    justify-content: center;
    position: fixed;
    height: 3rem;
    width: 100%;
    z-index: 3;
    background: rgb(57, 57, 57);
    box-shadow: 0 0 10px 5px rgba(57, 57, 57, 1);
}
    .largeNavBar {
        display: flex;
        visibility: hidden;
        align-items: center;
        width: stretch;
        max-width: 1400px;
        height: inherit;
        margin: 0 auto;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }

    .mobileHeader {
        visibility: visible;
        align-items: center;
        width: stretch;
        height: inherit;
        margin: 0;
        position: fixed;
        display: flex;
        top: 0;
        left: 0;
    }
    .mobileNavBar {
        visibility: visible;
        align-items: center;
        width: stretch;
        height: inherit;
        margin: 0;
        position: fixed;
        display: flex;
        bottom: 0;
        left: 0;
        background: rgb(57, 57, 57);
    }

        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            color: white;
            font-size: 1.5rem;
            font-weight: bold;
            white-space: nowrap;
            margin: 0 0 0 .5rem;
            cursor: pointer;
        }

    @media (max-width: 570px) {
        .largeNavBar {
            visibility: hidden;
        }
        .mobileNavBar, .mobileHeader {
            visibility: visible;
        }
    }

    @media (min-width: 571px) {
        .largeNavBar {
            visibility: visible;
        }
        .mobileNavBar, .mobileHeader {
            visibility: hidden;
        }
    }