.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: stretch;
    margin: 0;
}
    .iconContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: cyan;
        height: 100%;
        width: 50px;
        margin: 0 1rem;
        font-size: small;
        font-weight: bold;
    }
        .icon {
            width: 80%;
            margin: 0;
        }
    .icon:hover, .iconContainer:hover {
        color: goldenrod;
        cursor: pointer;
    }