.container {
    background-color: white;
    width: 300px;
    height: 2rem;
    margin: 5px 1rem 5px 0;
    padding: 0 0 0 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}
    .icon {
        font-size: 1rem;
        margin: auto 0;
    }
    .input {
        border: none;
        height: 100%;
        width: 100%;
        background: transparent;
        font-size: 12px;
        outline: none;  
    }