.modalBody {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: calc(50% - 45vh);
    width: 90vw; /* note: max-width is set in the media queries at bottom of file */
    max-width: 1280px;
    height: 90vh;
    z-index: 9999; /* Ensure it appears above other content */
    background-color: white;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
}
.closeButton {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 99;
}
.closeIcon {
    color: #333;
}
.movieDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}
.imageContainer {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.details {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;
}
.title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.summary {
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
}


/* these media queries are to ensure the modal is centered on the screen, even when limited by the max-width of 1280px */
@media (min-Width: 1420) {
    .modalBody {
        left: calc(50% - 640px);
    }
}
@media (max-width: 1420) {
    .modalBody {
        left: calc(50% - 45vw);
    }
}
/* ------------------------------------- */