.container {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: fit-content;
    padding: 1px 0;
    margin: 0 10px;
    overflow: hidden;
    overflow-x: scroll;
    border: 1px solid #363636;
}
.container::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
.container::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 25px;
}
.movie {
 margin: 0 2px;
}
.movie:first-child {
    margin-left: 0;
}
.poster {
    width: 75px;
    height: auto;
    border-radius: 10px;
    transition: transform 450ms;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}