.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 0;
  height: 100%;
  background-color: white;;
}

  .dimmingOverlayHidden {
    visibility: hidden;
  }

  .dimmingOverlayVisible {
    visibility: visible;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }

  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding:  2.5rem 10px 10px 10px;
  }

  @media (max-Width: 375px) {
    .main {
      margin: 0 0 0 0;
    }
    
  }